proguard.cfg
.html
.DS_Store
gen/
.idea/
.iml
*.iml
out/
Writeup/
.project
.classpath
*.apk
*.ap
*.properties
project.properties
*.dex
proguard-project.txt
lint.xml
libs/
*.class

bin/

.gradle/
build/

local.properties

proguard/
.ipr
*.iws
local.properties

# Generic Android ignores
bin/
target
